@{
    Layout = null;
}
@model  IList<BetterSite.Domain.M_Tags>

<ul class="sb_menu">
    @foreach (var item in Model)
    {
        <li><a href="?Tag=@item.TagName" title="@item.TagName">@item.TagName</a></li>

    }
</ul>
@section scripts {

}
