@{
    Layout = null;
}
@model  IList<BetterSite.Domain.M_Types>

<ul class="nav navbar-nav">
    <li class= "active" >@Html.ActionLink("首页", "", "")</li>
    @*@foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.TypeName, "Index", "Sites", new { @TypeCode = item.TypeCode }, null)</li>
    }*@
    <li><a href="/ZY/1.html">免费素材</a></li>
    <li><a href="/ZX/1.html">在线工具</a></li>
    <li><a href="/JS/1.html">发现好玩</a></li>
    <li><a href="/SH/1.html">便民查询</a></li>
</ul>