@{
    Layout = null;
}
@model  IList<BetterSite.Domain.M_Types>
<ul class="nav navbar-nav">
    <li class= "active" >@Html.ActionLink("首页", "", "")</li>
    @*@foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.TypeName, "Index", "Sites", new { @TypeCode = item.TypeCode }, null)</li>
    }*@
    <li><a href="/sucai/1.html">免费素材</a></li>
    <li><a href="/gongju/1.html">在线工具</a></li>
    <li><a href="/haowan/1.html">发现好玩</a></li>
    <li><a href="/chaxun/1.html">便民查询</a></li>
    <li><a href="/tisheng/1.html">个人提升</a></li>
    <li><a href="/zhuanlan/1.html">行业专栏</a></li>
</ul>