@{
    Layout = null;
}
@model  IList<BetterSite.Domain.M_Types>

<ul class="nav navbar-nav">
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.TypeName, "Index", "Sites", new { @TypeCode = item.TypeCode }, null)</li>
    }

</ul>