
@section Scripts
{
<style type="text/css">
    #tag_div {
        padding: 2px;
        margin: 0px;
    }

        #tag_div ul {
            margin: 0px;
            padding: 0px;
        }

            #tag_div ul li {
                float: left;
                text-align: center;
                list-style: none;
            }
</style>
    <script type="text/javascript">
        function Search() {
            $('#dg').datagrid('reload', {
                searchText: $('#searchText').val()
            });
            //var dg = $('#dg').datagrid();
            //dg.datagrid('enableFilter'
            ////    ,[{
            ////        field: 'SiteCode',
            ////    type: 'numberbox',
            ////    options: { precision: 1 },
            ////    op: ['equal', 'notequal', 'less', 'greater']
            ////}]
            //);
        }
    var url;
    function Add() {
        $('#dlg').dialog('open').dialog('setTitle', '添加');
        $('#fm').form('clear');
        url = '/Admin/Sites/Create';
        $("#SiteId").val(Global.createGuid());
        $("#SiteCollectionDate").val(new Date().toISOString());
        this.BuildChk();
    }
    function Edit() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $('#dlg').dialog('open').dialog('setTitle', '修改');
            $('#fm').form('load', row);
            //debugger;
            //设置类别的值 start
            var opts = $('#cc').combobox('options');
            var optdata = $('#cc').combobox('getData');
            var rowid=row[opts.valueField].toLocaleLowerCase();//
            var temp = [];
            temp = $.grep(optdata, function (val, index) {
                if (val[opts.valueField].toLocaleLowerCase() == rowid)
                    return true;
                // 如果[invert]参数不给或为false, $.grep只收集回调函数返回true的数组元素
                // 反之[invert]参数为true, $.grep收集回调函数返回false的数组元素
            }, false);
            $('#cc').combobox('select', temp[0][opts.valueField]);
            //设置类别的值 end
            this.BuildChk();
            //设置标签的值 start
           // debugger;
            var sitetagList = GetSiteTagData({ "SiteId": row.SiteId });
            if (sitetagList.length) {
                var tags_chk = $("#tag_div li input");
                if (tags_chk&&tags_chk.length) {
                    for (var i = 0; i < sitetagList.length; i++) {
                        tags_chk.each(function (inx, chk) {
                            if (chk.value == sitetagList[i].TagId) {
                                chk.checked = true;
                            }
                        });
                    }
                }
            }
            //设置标签的值 end
            url = '/Admin/Sites/Edit/';
        }
    }
    function Save() {        
        if (!$('#fm').form('validate')) { return; }
        if (!$("#tag_div :checked").length) {
            $.messager.show({
                title: 'Error',
                msg: "至少添加一个标签"
            });
            return;
        }
        var formData = $('#fm').formSerialize(); //jquery.form 插件
      //  var tagFormData = $('#tag_form').formSerialize();
       // formData=  formData.concat('&').concat(tagFormData);
        //var tagsData = $("#tag_div input[checked=checked]");
       debugger;
        $.ajax({
            url: url,
            type: 'post',
            data: formData,
            success: function (result) {
                //debugger;
                //  var result = eval('(' + result + ')');
                if (!result.success) {
                    $.messager.show({
                        title: 'Error',
                        msg: result.msg
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the user data
                }
            }, dataType: 'json'
        });
    }
    function Del() {
      //  var row = $('#dg').datagrid('getSelected');
        var rows = $('#dg').datagrid('getChecked');
        if (!rows.length) {
            $.messager.show({    // show error message
                title: 'Error',
                msg: "请勾选记录！"
            });
            return;
        }
        //debugger;
       // return;
        // if (row) {
     // var  SitesId =
      //  rows.each(function (i, row) {

      //  })
        var sitesId="'";
        $(rows).each(function (i, row) {
            sitesId += row.SiteId + "','";
        });
        sitesId=sitesId.substring(0, sitesId.length - 2)
        debugger;
            $.messager.confirm('Confirm', '删除?', function (r) {
                if (r) {
                    $.post('/Admin/Sites/Delete/', { 'sitesId': sitesId }, function (result) {
                        if (result.success) {
                            $('#dg').datagrid('reload');    // reload the user data
                        } else {
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                        }
                    }, 'json');
                }
            });
       // }
    }
    function BuildChk() {
        var tagsdata = this.GetTagsData();
       // var executerDiv = $("#tag_div")[0];
        var executerDiv= document.getElementById("tag_div");
        executerDiv.innerHTML = "";
        var ul = document.createElement("ul");
        //var tableDatas = [];
        //var temp = [];
        //temp[0] = "tag_chk";
        //temp[1] = "TagId";
        //tableDatas.push(temp);
      //  debugger;
        for (var i = 0; i < tagsdata.length; i++) {
            var tag = tagsdata[i];
            var li = createElement_li(tag.TagId, tag.TagName);
          //  // 加入复选框
          //  var checkBox = document.createElement("input");
          //  checkBox.setAttribute("type", "checkbox");
          ////  checkBox.setAttribute("id", arr[0]);
          //  checkBox.setAttribute("name", "TagId");
          //checkBox.setAttribute("value", tag.TagId);

          //  var li = document.createElement("li");
          //  li.appendChild(checkBox);
          //  li.appendChild(document.createTextNode(tag.TagName));

            ul.appendChild(li);
        }

        executerDiv.appendChild(ul);

    }
        /*后台查询到所有标签*/
    function GetTagsData() {
        var json=[];
       // debugger;
        $.ajax({
            url: "/Admin/Tags/GetAllData",
            type: 'get',
            async: false,
            success: function (result) {
                if (result.length) { json = result; }
            }
        });
        return json;
    }
        /*卡片中添加标签功能*/
    function InputTag() {
        var tagName = $("#tag_txt").val();
        $("#tag_txt").val("");
        var exisTag=$("#tag_div li:contains('" + tagName + "')");
        if (exisTag.length) {
            exisTag.css('color', 'red');
            return;
        }
        var tagId = Global.createGuid();
        //向服务器提交保存
       // debugger;
        $.ajax({
            url: '/Admin/Tags/Create',
            type: 'post',
            async: false,
            data: { TagId: tagId, TagCode: "fromSite", TagName: tagName },
            success: function (result) {
                if (!result.success) {
                    $.messager.show({
                        title: 'Error',
                        msg: result.msg
                    });
                } else {
                    var ul = document.getElementById("tag_div").children[0];
                    //开始创建
                    var li = createElement_li(tagId, tagName);
                    ul.appendChild(li);
                }
            }, dataType: 'json'
        });

    }
        /*创建一个包含checkBox的li元素
           参数：id为chenkBox的value值
              name为chenkBox的name属性值
          返回：DOM类型li元素
        */
    function createElement_li(id, name) {
        // 加入复选框
        var checkBox = document.createElement("input");
        checkBox.setAttribute("type", "checkbox");
        //  checkBox.setAttribute("id", arr[0]);
        checkBox.setAttribute("name", "TagId");
        checkBox.setAttribute("value", id);

        var li = document.createElement("li");
        li.appendChild(checkBox);
        li.appendChild(document.createTextNode(name));
        return li;
    }
        /*后台查询到所有站点标签关系
        返回数据列表
        */
    function GetSiteTagData(param) {
        var json = [];
        //debugger;
        $.ajax({
            url: "/Admin/SiteTag/GetAllData",
            type: 'get',
            async: false,
            data:param,
            success: function (result) {
                if (result.length) { json = result; }
            }
        });
        return json;
    }
    function Func_Keyup(e) {
        debugger;
        if (e.keyCode == 13) {
            Search();
        }
    }
    </script>
}
<table id="dg" title="站点管理" class="easyui-datagrid" style="width:auto;"
       url="/Admin/Sites/GetAllEntitys"
       toolbar="#toolbar" pagination="true" pagesize="20"
       rownumbers="true" fitcolumns="true" 
       singleselect="true" checkonselect="false" selectoncheck="false" multiselect="false"
       autorowheight="false">
    <thead>
        <tr>
            <th field="" width="" checkbox="true"></th>
            <th field="SiteCode" width="0">站点编号</th>
            <th field="SiteName" sortable="true">站点名称</th>
            <th field="SiteUrl">站点URL</th>
            <th field="TypeName" width="0">站点类别</th>
            <th field="SiteAddDate" width="70">添加日期</th>

            <th field="SiteClickQuantity" width="20">点击数</th>
            <th field="SiteFavoriteQuantity" width="20">收藏数</th>
            <th field="SiteApproveQuantity" width="20">推荐数</th>
            <th field="SiteOrderNumber" width="20">排序号</th>

            <th field="SiteIsTop" width="20">置顶</th>
            <th field="SiteIsHome" width="20">首页</th>
            <th field="SiteIsActive" width="20">有效</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <div>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()">修改</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Del()">删除</a>
    </div>
    <div style="padding-left:5px;">
         <input type="text" id="searchText" name="searchText" onkeyup="Func_Keyup(event)" placeholder="请输入站点名称/URL" />
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="Search()">查询</a>
    </div>
</div>

<div id="dlg" class="easyui-dialog" style="width:450px;height:400px;"
     closed="true" modal="true" buttons="#dlg-buttons">

    <form id="fm" method="post" novalidate>
        <input type="hidden" id="SiteId" name="SiteId" />
        <input type="hidden" id="SiteCollectionDate" name="SiteCollectionDate" />
        <div class="fitem">
            <label>站点编号:</label>
            <input name="SiteCode" class="easyui-textbox" required="true">
        </div>
        <div class="fitem">
            <label>站点名称:</label>
            <input name="SiteName" class="easyui-textbox" data-options="required:true">
        </div>
        <div class="fitem">
            <label>站点URL:</label>
            <input name="SiteUrl" class="easyui-textbox" data-options="required:true">
        </div>
        <div class="fitem">
            <label>站点类别:</label>
            <input id="cc" class="easyui-combobox" name="TypeId"
                   data-options="valueField:'TypeId',textField:'TypeName',url:'/Admin/Types/GetAllData',required:true" />
        </div>
        <div>
            <fieldset>
                <legend>
                    <label>站点标签:</label>
                </legend>
                <div class="" id="tag_div">
                </div>
                <div style="float:right;padding:10px;">
                    <input id="tag_txt" type="text" name="TagName" placeholder="Input Tag" style="width:70px;height:12px;" />
                    <a href="javascript:void(0)" onclick="InputTag()">添加</a>
                </div>
            </fieldset>
        </div>
        <div>
                    <label>站点简介:</label>
            <div>
                <textarea rows=4 cols="50" name="SiteProfile"></textarea>
            </div>
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="Save()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>


