<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-BetterSite.UI-20150224185457;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-BetterSite.UI-20150224185457.mdf" />-->
    <!--SQL 2008-->
    <!--<add name="conn" connectionString="Data Source=KING-PC;database=Db_BetterSite;Persist Security Info=True;User ID=sa;Password=123" />-->
    <!--SQL 2005-->
    <!--<add name="conn" connectionString="Data Source=.\SQLEXPRESS;database=Db_BetterSite;User ID=sa;Password=sa" />-->
    <!--开发库-->
    <!--<add name="conn" connectionString="Data Source=.\SQLEXPRESS;database=Db_BetterSiteDev;User ID=sa;Password=sa" />-->
    <!--正式库-->
    <add name="conn" connectionString="Data Source=qds17864033.my3w.com;Initial Catalog=qds17864033_db;User ID=qds17864033;Password=isharesite"/>
  </connectionStrings>
</configuration>