
@section Scripts
{
    <script type="text/javascript">
    var url;
    function Add() {
        $('#dlg').dialog('open').dialog('setTitle', '添加');
        $('#fm').form('clear');
        ue.execCommand('cleardoc');
        $('#cc').combobox('setValue', '1');
        url = '/Admin/Article/Create';
    }
    function Edit() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $('#dlg').dialog('open').dialog('setTitle', '修改');
            $('#fm').form('load', row);
          //  debugger;
            ue.setContent(row.Content);
            url = '/Admin/Article/Edit/';
        }
    }
    function Save() {
      //  if (!$('#fm').form('validate')) { return; }
        // var formData = $('#fm').formSerialize(); //jquery.form 插件
        var category = $('input[name="Category"]').val();
        var title = $('input[name="Title"]').val();
        var content = ue.getContent();
        if (!(category && title && content)) {
            $.messager.show({
                title: 'Error',
                msg: '必填项不能为空'
            });
            return;
        }
        $.ajax({
            url: url,
            type: 'post',
            data: "Category=" + category + "&Title=" + title + "&Content=" + ue.getContent(),
            success: function (result) {
                //debugger;
                //  var result = eval('(' + result + ')');
                if (!result.success) {
                    $.messager.show({
                        title: 'Error',
                        msg: result.msg
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the user data
                    ue.execCommand('cleardoc');
                }
            }, dataType: 'json'
        });
    }
    function Del() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('Confirm', '删除?', function (r) {
                if (r) {
                    $.post('/Admin/Article/Delete/', { Id: row.Id }, function (result) {
                        if (result.success) {
                            $('#dg').datagrid('reload');    // reload the user data
                        } else {
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                        }
                    }, 'json');
                }
            });
        }
    }
    function ContentPreview(val, row, index) {
        debugger;
        if (val)
          
            return val.length > 20 ? val.substr(0, 20) : val;
        else
            return "";
    }
    function ToCategoryName(val, row, index) {
        debugger;
        var name = '';
        switch (val) {
            case 1: name = '实用';
                break;
            case 2: name = '有趣';
                break;
            case 3: name = '热点';
                break;
            case 4: name = '随笔';
                break;
            case 5: name = '读书';
                break;
            default: break;
        }
       
            return name;
    }
    </script>
<script src="~/Content/ueditor1_4_3_3-utf8-net/ueditor.config.js"></script>
<script src="~/Content/ueditor1_4_3_3-utf8-net/ueditor.all.min.js"></script>

<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    </script>
}

<table id="dg" title="文章管理" class="easyui-datagrid" style="width:auto;"
       url="/Admin/Article/GetAllEntitys"
       toolbar="#toolbar" pagination="true"
       rownumbers="true" fitcolumns="true" singleselect="true">
    <thead>
        <tr>
            <th field="Id" width="50" height="30">Id</th>
            <th field="Category" width="50" formatter="ToCategoryName">类别Id</th>
            <th field="Title" width="50">标题</th>
            <th field="PageView" width="50">浏览量</th>
            @*<th field="Content" width="50" formatter="ContentPreview">内容</th>*@
            <th field="CreateDate" width="50">创建日期</th>
            <th field="Status" width="50">状态</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()">修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Del()">删除</a>
</div>

<div id="dlg" class="easyui-dialog" style="width:700px;height:660px;"
     closed="true" modal="true" buttons="#dlg-buttons">
    <form id="fm" method="post" novalidate>
        <input type="hidden" name="Id" />
        @*<div class="fitem">
                <label>Id:</label>
                <input name="Category" class="easyui-textbox" required="true">
            </div>*@
        <div class="fitem">
            <label>类别Id:</label>
            @*<input name="Category" class="easyui-validatebox" required="true"/>*@
            <select id="cc" class="easyui-combobox" name="Category" style="width:200px;" >
                <option selected="selected" value="1">实用</option>
                <option value="2">有趣</option>
                <option value="3">热点</option>
                <option value="4">随笔</option>
                <option value="5">读书</option>
            </select>
        </div>
        <div class="fitem">
            <label>标题:</label>
            <input name="Title" class="easyui-textbox"  style="width:500px;"/>
        </div>
        <div class="fitem">
            <label>内容:</label>
            @*<input  id="editor"  name="Content" class="easyui-textbox" required="true">*@
            <script id="editor" type="text/plain" style="width:600px;height:380px;">
            </script>
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="Save()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>


