@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link href="~/Content/blogstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="body">
        <div class="aboutme">
            <p>我是酷酷，一个普通人。</p>
            <p>80后，程序员，现居北京。</p>
            <p>如果你已经知道了我是谁，那我无需再多说；</p>
            <p>如果你不知道，那我也无需再多说。</p>
            <p>kuer-2006at163.com</p>
            
        </div>
        <div class="footer">
            <a href="/blog">Home</a>
        </div>
    </div>
</body>
</html>
