
@section Scripts
{
    <script type="text/javascript">
    var url;
    function Add() {
        $('#dlg').dialog('open').dialog('setTitle', '添加');
        $('#fm').form('clear');
        url = '/Admin/Tags/Create';
    }
    function Edit() {
        var row = $('#dg').datagrid('getSelected');
        //debugger;
        if (row) {
            $('#dlg').dialog('open').dialog('setTitle', '修改');
            $('#fm').form('load', row);
            url = '/Admin/Tags/Edit/';
        }
    }
    function Save() {
        //#region easyui 的form提交方法  IE有兼容问题
        //$('#fm').form('submit', {
        //    url: url,
        //    onSubmit: function () {
        //        return $(this).form('validate');
        //    },
        //    success: function (result) {
        //        debugger;
        //        var result = eval('(' + result + ')');
        //        if (!result.result) {
        //            $.messager.show({
        //                title: 'Error',
        //                msg: result.msg
        //            });
        //        } else {
        //            $('#dlg').dialog('close');        // close the dialog
        //            $('#dg').datagrid('reload');    // reload the user data
        //        }
        //    }
        //});
        //#endregion
        if (!$('#fm').form('validate')) { return; }
        var formData = $('#fm').formSerialize(); //jquery.form 插件
        $.ajax({
            url: url, type: 'post', data: formData, success: function (result) {
                //debugger;
              //  var result = eval('(' + result + ')');
                if (!result.success) {
                    $.messager.show({
                        title: 'Error',
                        msg: result.msg
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the user data
                }
            }, dataType: 'json'
        });
    }
    function Del() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('Confirm', '删除?', function (r) {
                if (r) {
                    $.post('/Admin/Tags/Delete/', { TagId: row.TagId }, function (result) {
                        if (result.success) {
                            $('#dg').datagrid('reload');    // reload the user data
                        } else {
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                        }
                    }, 'json');
                }
            });
        }
    }
    </script>

}

<table id="dg" title="站点标签管理" class="easyui-datagrid" style="width:auto;"
       url="/Admin/Tags/GetAllEntitys"
       toolbar="#toolbar" pagination="true"
       rownumbers="true" fitcolumns="true" singleselect="true">
    <thead>
        <tr>
            <th field="TagCode" width="50" height="30">标签编号</th>
            <th field="TagName" width="50">标签名称</th>
            <th field="TagClickQuantity" width="50">点击数</th>
            <th field="TagOrderNumber" width="50">排序号</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()">修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Del()">删除</a>
</div>

<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;"
     closed="true" modal="true" buttons="#dlg-buttons">
   
    <form id="fm" method="post" novalidate>
        <input type="hidden" name="TagId" />
        <div class="fitem">
            <label>标签编号:</label>
            <input name="TagCode" class="easyui-textbox" required="true">
        </div>
        <div class="fitem">
            <label>标签名称:</label>
            <input name="TagName" class="easyui-textbox" required="true">
        </div>
        <div class="fitem">
            <label>排序号:</label>
            <input name="TagOrderNumber" class="easyui-textbox">
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="Save()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>


