<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
			  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
	</settings>

	<!--db provider配置文件路径-->
  <providers embedded="Providers.config,BetterSite.DataAccess"  />
	<!--<providers resource="../BetterSite.DataAccess/Providers.config"/>-->

	<!--db provider类型及连接串-->
  <database>
    <provider name="sqlServer4.0" />
    <!--<dataSource name="sqlserver" connectionString="Data Source=KING-PC;database=db_test;Persist Security Info=True;User ID=sa;Password=123" />-->
    <dataSource name="sqlserver" connectionString="${conn}"/>
  </database>
	<!--<database>
		<provider name="oracleClient1.0" />
		<dataSource name="oracle" connectionString="Data Source=ORCL;Persist Security Info=True;User ID=scott;Password=tiger;Unicode=True" />
	</database>-->

	<!--db与Entity的映射文件-->
	<sqlMaps>
    <sqlMap embedded="Maps.SitesMap.xml,BetterSite.DataAccess"/>
    <sqlMap embedded="Maps.TypesMap.xml,BetterSite.DataAccess"/>
    <sqlMap embedded="Maps.TagsMap.xml,BetterSite.DataAccess"/>
    <sqlMap embedded="Maps.SiteTagMap.xml,BetterSite.DataAccess"/>
		<!--<sqlMap resource="../BetterSite.DataAccess/Maps/ProductMap.xml"/>-->
    <!--<sqlMap resource="../BetterSite.DataAccess/Maps/SitesMap.xml"/>
    <sqlMap resource="../BetterSite.DataAccess/Maps/TypesMap.xml"/>
    <sqlMap resource="../BetterSite.DataAccess/Maps/TagsMap.xml"/>
    <sqlMap resource="../BetterSite.DataAccess/Maps/SiteTagMap.xml"/>-->
	</sqlMaps>

</sqlMapConfig>