@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>英语文章阅读助手,读英文文章学单词的在线工具,帮你学好英语</title>
    <meta name="keywords" content="英语文章阅读助手,读英文文章学单词,中英双语阅读,在线背单词工具,在线学英语" />
    <meta name="description" content="英语文章阅读助手,读英文文章学单词的在线工具。双击单词选中,自动显示单词解释、相关词组和短语。可添加单词到生词本,方便保存到本地。" />

    <link href="~/Content/bootstrap_min.css" rel="stylesheet" />
    <style>
        .panel-compact {
        margin:0;
        padding:0;
        }
          .panel-compact .panel-body,
          .panel-newword .panel-body {
        margin:0;
        padding:0;
        }
        #newwords {
            margin:0px;
        }#newwords li {
            padding-bottom:0px;
        }
        .blog-footer {
        margin:20px;
       
        }
    </style>
</head>
<body>
    <div class="container">
          <div class="page-header">
            <a class="title" href="http://www.isharesite.com/tools/translate"><h1>英语文章阅读助手</h1></a>
            
            <p class="lead">读英语文章学单词的在线工具，帮你学好英语</p>
        </div>
        <h3>提取英语文章的生词、词组、短语</h3>
        <p>双击或选择单词，自动显示单词解释、相关词组和短语。可添加单词到生词本，方便保存到本地。</p>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">英语文章</div>
                    <div class="panel-body" style="padding:0;">
                        <textarea id="source" class="form-control" rows="15" style="border:0;">Copy the English articles you are going to read here</textarea>
                    </div>
                    <span> <a class="btn btn-default btn-sm" style="float:right" href="javascript:ClearEnDoc();" role="button" >清空文章内容</a></span>
                </div>
              <!--  <div>
                    <a class="btn btn-default center-block" href="#" role="button" onclick="BuildFullTrans();">显示全文翻译</a>
                </div>
                <div class="panel panel-default">
                    @*<div class="panel-heading">全文翻译</div>*@
                    <div class="panel-body" id="fulltrans">
                        功能正在开发中...
                        @*<iframe src="http://fy.iciba.com/"></iframe>*@
                    </div>
                </div>
                  -->
            </div>

            <div class="col-md-3">

                <div class="panel panel-default" style="margin-bottom:5px;">
                    <div class="panel-heading">单词解释</div>
                    <div style="float:right">
                        <small id="addmsg"></small>
                        <a class="btn btn-default btn-xs" href="javascript:AddNewWord();" role="button" >+ 生词本</a>
                    </div>
                    <div class="panel-body" id="wordmeans">

                    </div>
                </div>
                <div class="panel panel-compact">
                    <div class="panel-body">
                        <small>历史记录: </small>
                        <span id="searchhistory"></span>
                    </div>
                    @*<span class="" id="searchhistory" style="white-space: nowrap;"></span>*@
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">相关词组和短语</div>
                    <div class="panel-body" id="wordsuggst">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default panel-newword">
                    <div class="panel-heading">生词本<small> ( 依赖缓存，默认保存7天。可选择文字复制到本地文件保存，打印 )</small></div>
                    <div class="panel-body">
                        <ul class="list-group" id="newwords"></ul>
                    </div>
                    <span> <a class="btn btn-default btn-sm" style="float:right" href="javascript:ClearNewWord();" role="button" >清空生词本</a></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <footer class="blog-footer">
                    <p>
                        <a href="http://www.isharesite.com/" title="优站分享,分享好网站">优站分享</a> -
                        <a href="http://www.isharesite.com/tools/translate" title="打开英语文章阅读助手">英语文章阅读助手2017</a> -                       
                        <a href="Mailto:kuer-2006@163.com">给我发邮件</a>
                    </p>

                </footer>      
            </div>
        </div>
            </div> <!-- /container -->
          
            <script src="~/Scripts/jquery-1.8.2.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script src="~/Scripts/jquery.cookie.js"></script>          
                 @Scripts.Render("~/bundles/translate")   
</body>

</html>
