@{
    ViewBag.Title = "页面没有找到-优站分享|致力于分享实用的优秀网站";
}
<div class="article" style="text-align:center">
    <h1>404</h1>
    <p>抱歉,页面没有找到...</p>
    <span><a href="/" title="打开首页">返回首页</a></span>
    </div>
