@{
    ViewBag.Title = "优站分享-为开发者提供一些便利";
}
@model IList<BetterSite.Domain.M_Sites>
@*<div class="right-top">
    @foreach (var item in ViewBag.Tags as IList<BetterSite.Domain.M_Tags>)
    {
        <span>@item.TagName</span>
    }
    <input id="ck1" type="checkbox" /> 
    <label for="ck1">点击我即可选择/取消勾选状态</label>
</div>*@

<div>
    @foreach (var item in Model )
    {
        <div>@item.SiteName</div>
    }

</div>
